@keyframes lastSelected {
    0% { filter: brightness(1.3); }
    49% { filter: brightness(1.3); }
    50% { filter: brightness(1); }
    99% { filter: brightness(1); }
    100% { filter: brightness(1.3); }
}

body { margin: 0; overflow: hidden; }

body.drafter {
    background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0) 38%), url(../images/unite-bg.jpg);
    background-size: 100%, 400px;
}

.drafter-header {
    position: relative;
    height: 350px;
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000, 0px 0px 5px #000;
    -webkit-text-size-adjust: 100%;
}

.draft-announce {
    position: absolute;
    top: 180px;
    z-index: 1000;
    transition: padding 0.1s ease-out, filter 0.1s linear;
    text-align: center;
    width: 100%;
    border-top: solid 5px #7f59c1;
    border-bottom: solid 5px rgb(248,125,23);
    box-shadow: inset 5px -5px 10px rgb(1 1 1 / 30%), -5px 5px 8px rgb(0 0 0 / 40%);
    background: rgba(0,0,0,0.7);
    filter: opacity(0);
}

.draft-announce.open {
    padding: 15px 0 10px;
    filter: opacity(1);
}

.draft-text {
    position: relative;
    top: -30px;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

.timer {
    margin: auto;
    position: relative;
    font-size: 60px;
    top: 230px;
    width: 100px;
    height: 80px;
    text-align: center;
    padding: 7px 0 13px;
    background: rgb(0 173 93);
    box-shadow: inset 5px -5px 10px rgb(1 1 1 / 30%), -5px 5px 8px rgb(0 0 0 / 40%);
    border-radius: 50px;
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.timer.closed { transform: scale(0); }

.draft-picks li, .draft-announce i {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 125px;
    height: 144px;
    margin: 5px;
    border: solid 3px #444;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 70%);
    background-image: url(../images/square-pattern-30.svg),linear-gradient(160deg, rgba(0,0,0,0.5), rgba(0,0,0,0) 43%);
    background-size: 54%, 100%;
    background-color: white;
}

.draft-announce i {
    width: 80px;
    height: 92px;
    margin-top: -5px;
    vertical-align: middle;
}

.draft-picks li.pick-category-0, .draft-announce i.pick-category-0 { background-color: #f16c38; }
.draft-picks li.pick-category-1, .draft-announce i.pick-category-1 { background-color: #aced5b; }
.draft-picks li.pick-category-2, .draft-announce i.pick-category-2 { background-color: #fecc51; }
.draft-picks li.pick-category-3, .draft-announce i.pick-category-3 { background-color: #ce5fd3; }
.draft-picks li.pick-category-4, .draft-announce i.pick-category-4 { background-color: #29a5e3; }

.pick-pool .draft-picks li { transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-filter 0.5s linear; }
.team-panel .draft-picks li, .team-bans.draft-picks li {
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-filter 0.5s linear;
}

.draft-picks li.banned {
    -webkit-filter: grayscale(100%);
}

.draft-picks li.hidden {
    transform: scale(0);
}

.draft-picks li img, .draft-announce i img {
    position: absolute;
    left: 0;
    z-index: 15;
    width: 100%;
    transform: none;
}

.team-panel {
    position: relative;
    width: 300px;
    display: table-cell;
}

.pick-pool {
    display: table-cell;
}

ul.draft-picks {
   padding: 10px 5px;
   text-align: center;
}

.team-name.hidden { filter: opacity(0); }

.team-name {
  position: absolute;
  top: 220px;
  filter: opacity(1);
  transition: filter 0.5s linear;
}

.team-name.team1 { left: 100px; }
.team-name.team2 { right: 100px; }

.team-panel .draft-picks li {
    position: absolute;
}

.draft-picks li.last-selected {
    animation: lastSelected 1s infinite linear;
}

.team-panel.team1 .draft-picks li:nth-child(1) {
    right: 10px;
    top: -5px;
}

.team-panel.team1 .draft-picks li:nth-child(2) {
    right: 150px;
    top: 71px;
}

.team-panel.team1 .draft-picks li:nth-child(3) {
    right: 10px;
    top: 155px;
}

.team-panel.team1 .draft-picks li:nth-child(4) {
    right: 150px;
    top: 230px;
}

.team-panel.team1 .draft-picks li:nth-child(5) {
    right: 10px;
    top: 315px;
}

.team-panel.team2 .draft-picks li:nth-child(1) {
    left: 10px;
    top: -5px;
}

.team-panel.team2 .draft-picks li:nth-child(2) {
    left: 150px;
    top: 71px;
}

.team-panel.team2 .draft-picks li:nth-child(3) {
    left: 10px;
    top: 155px;
}

.team-panel.team2 .draft-picks li:nth-child(4) {
    left: 150px;
    top: 230px;
}

.team-panel.team2 .draft-picks li:nth-child(5) {
    left: 10px;
    top: 315px;
}

.team-name.team1 {
    left: -50px;
    padding: 5px 50px 5px 150px;
    background: #7f59c1;
    box-shadow: inset -5px -5px 10px rgb(1 1 1 / 30%), 5px 5px 8px rgb(0 0 0 / 40%);
    border-radius: 50px;
}

.team-name.team2 {
    right: -50px;
    padding: 5px 150px 5px 50px;
    background: rgb(248,125,23);
    box-shadow: inset 5px -5px 10px rgb(1 1 1 / 30%), -5px 5px 8px rgb(0 0 0 / 40%);
    border-radius: 50px;
}

.team-bans.draft-picks {
    position: absolute;
    top: 80px;
    margin: 0;
    padding: 0;
    width: 700px;
    height: 135px;
}

.team-bans.draft-picks.team2 { right: 50px; }
.team-bans.draft-picks.team1 { left: 50px; }

.team-bans.draft-picks.team2 li { float: right; }
.team-bans.draft-picks.team1 li { float: left; }

.team-bans.draft-picks li {
    width: 100px;
    height: 115px;
}