@keyframes jumpstop {
  0% { transform: translate(0, 0) scale(1, 1); }
  0.5% { transform: translate(0, 10%) scale(1.25, 0.75); }
  1% { transform: translate(0, 0) scale(1, 1); }
  1.5% { transform: translate(0, 10%) scale(1.25, 0.75); }
  2% { transform: translate(0, 0) scale(1,1); }
}

body { overflow: hidden; }

.overlay-box {
  width: 100%;
  height: 100%;
  border: solid 5px rgb(248,125,23);
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgb(0,0,0,.4);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.social-box {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.social-box .social-egg {
  position: absolute;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  z-index: 1000;
  animation: jumpstop 60s infinite;
}

.social-box .social-icon {
  position: absolute;
  left: 225px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1500;
  border-radius: 50%;
  box-shadow: 3px 3px 4px rgb(1 1 1 / 40%);
}

.social-box .social-text {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 45px;
  top: 8px;
  padding: 10px 10px 10px 10px;
  border: solid 3px;
  border-radius: 30px;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 800;
  color: white;
  text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000, 0px 0px 5px #000;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

.social-box.twitter .social-egg { background-image: url(../images/twitter_egg.png); }
.social-box.discord .social-egg { background-image: url(../images/discord_egg.png); }
.social-box.tournament .social-egg { background-image: url(../images/tournament_egg.png); }
.social-box.instagram .social-egg {
  background-image: url(../images/instagram_egg.png);
  animation-delay: 2s;
}

.social-box.twitter .social-text {
  background-color: rgb(122,185,228);
  border-color: rgb(95,144,176);
}
.social-box.twitter .social-icon {
  background-image: url(../images/twitter_icon.png);
}
.social-box.instagram .social-text {
  background-color: rgb(179,83,157);
  border-color: rgb(243,226,90);
}
.social-box.instagram .social-icon {
  background-image: url(../images/instagram_icon.png);
}
.social-box.discord .social-text {
  background-color: rgb(120,133,191);
  border-color: rgb(255,255,255);
}
.social-box.discord .social-icon {
  background-image: url(../images/discord_icon.svg);
}
.social-box.tournament .social-text {
  background-color: rgb(36,51,103);
  border-color: rgb(28,143,165);
}
.social-box.tournament .social-icon {
  background-image: url(../images/tournament_icon.png);
  background-size: 100%;
  background-color: rgb(26, 40, 88);
}