select, input, button {
    background: linear-gradient(0deg, rgb(77, 48, 130), rgb(99, 65, 163));
    font-size: 9pt;
    border: none;
    color: #fff;
    padding: 5px;
}

input {
    margin-right: 4px;
    padding: 5px;
}

button {
    margin: 4px 2px;
    padding: 3px;
    border-radius: 4px;
}

button:disabled, input:disabled {
    background: #aaa;
    color: black;
}

select:hover, button:hover {
    background: rgb(140, 92, 229);
}

select option {
    background: rgb(15,14,17);
}

select option:hover {
    box-shadow: inset 0 0 10px 100px rgb(99, 65, 163);
}

body {
    background: rgb(15,14,17);
    font-family: "Segoe UI", Roboto, sans-serif;
    font-size: 11px;
    color: white;
}

.deck-entry>span, .deck-entry>div, .deck-entry i {
    display: inline-block;
}

.deck-entry>span {
    width: 45px;
    min-width: 45px;
    text-align: right;
    padding: 4px 5px 4px 5px;
}

.deck-entry i {
    padding-left: 7px;
    cursor: pointer;
    opacity: .7;
}

.deck-entry i:hover {
    opacity: 1;
}

.deck-entry select, .timer-controller input {
    padding: 1px;
    border-radius: 5px;
    width: 80px;
}

.deck-entry.counter input {
    text-align: left;
    width: 60px;
}

.timer-controller input {
    text-align: center;
    width: 34px;
}